
<div *ngIf="location">
    <h2><span>Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Street Address</span></dt>
        <dd>
            <span>{{location.streetAddress}}</span>
        </dd>
        <dt><span>Postal Code</span></dt>
        <dd>
            <span>{{location.postalCode}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{location.city}}</span>
        </dd>
        <dt><span>State Province</span></dt>
        <dd>
            <span>{{location.stateProvince}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <div *ngIf="location.country">
                <a [routerLink]="['/country', location.country?.id]">{{location.country?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
