<div>
    <h2>
        <span>Bookings</span>
        <button class="btn btn-primary float-right create-booking" [routerLink]="['/', { outlets: { popup: ['booking-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Booking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span>Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salary"><span>Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="advert.id"><span>Advert</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <td><a [routerLink]="['../booking', booking.id ]">{{booking.id}}</a></td>
                <td>{{booking.status}}</td>
                <td>{{booking.rating}}</td>
                <td>{{booking.salary}}</td>
                <td>
                    <div *ngIf="booking.advert">
                        <a [routerLink]="['../advert', booking.advert?.id ]" >{{booking.advert?.jobScope}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../booking', booking.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
