
<div *ngIf="booking">
    <h2><span>Booking</span> {{booking.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{booking.status}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{booking.rating}}</span>
        </dd>
        <dt><span>Salary</span></dt>
        <dd>
            <span>{{booking.salary}}</span>
        </dd>
        <dt><span>Advert</span></dt>
        <dd>
            <div *ngIf="booking.advert">
                <a [routerLink]="['/advert', booking.advert?.id]">{{booking.advert?.jobScope}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
