<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserDataLabel">Create or edit a User Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userData.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="userData.phone"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_religion">Religion</label>
            <input type="text" class="form-control" name="religion" id="field_religion"
                [(ngModel)]="userData.religion"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_kids">Kids</label>
            <input type="number" class="form-control" name="kids" id="field_kids"
                [(ngModel)]="userData.kids"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                [(ngModel)]="userData.occupation"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                [(ngModel)]="userData.bio"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_picture">Picture</label>
            <div>
                <div *ngIf="userData.picture" class="form-text text-danger clearfix">
                    <span class="pull-left">{{userData.pictureContentType}}, {{byteSize(userData.picture)}}</span>
                    <button type="button" (click)="userData.picture=null;userData.pictureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, userData, 'picture', false)"/>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="userData.picture"
             />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                [(ngModel)]="userData.pictureContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="userData.role" id="field_role" >
                <option value="PARENT">PARENT</option>
                <option value="CARER">CARER</option>
                <option value="ADMIN">ADMIN</option>
                <option value="GOD">GOD</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="userData.rating"
             />
        </div>

        <div class="form-group">
            <label for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="userData.location">
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === userData.location?.id ? userData.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
