
<div *ngIf="userData">
    <h2><span>User Data</span> {{userData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{userData.phone}}</span>
        </dd>
        <dt><span>Religion</span></dt>
        <dd>
            <span>{{userData.religion}}</span>
        </dd>
        <dt><span>Kids</span></dt>
        <dd>
            <span>{{userData.kids}}</span>
        </dd>
        <dt><span>Occupation</span></dt>
        <dd>
            <span>{{userData.occupation}}</span>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
            <span>{{userData.bio}}</span>
        </dd>
        <dt><span>Picture</span></dt>
        <dd>
            <span>{{userData.picture}}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <span>{{userData.role}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{userData.rating}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <div *ngIf="userData.location">
                <a [routerLink]="['/location', userData.location?.id]">{{userData.location?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-data/'+ userData.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
