<div>
    <h2>
        <span>User Data</span>
        <button class="btn btn-primary float-right create-user-data" [routerLink]="['/', { outlets: { popup: ['user-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Phone</span></th>
            <th><span>Religion</span></th>
            <th><span>Kids</span></th>
            <th><span>Occupation</span></th>
            <th><span>Bio</span></th>
            <th><span>Picture</span></th>
            <th><span>Role</span></th>
            <th><span>Rating</span></th>
            <th><span>Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userData of userData ;trackBy: trackId">
                <td><a [routerLink]="['../user-data', userData.id ]">{{userData.id}}</a></td>
                <td>{{userData.phone}}</td>
                <td>{{userData.religion}}</td>
                <td>{{userData.kids}}</td>
                <td>{{userData.occupation}}</td>
                <td>{{userData.bio}}</td>
                <td>{{userData.picture}}</td>
                <td>{{userData.role}}</td>
                <td>{{userData.rating}}</td>
                <td>
                    <div *ngIf="userData.location">
                        <a [routerLink]="['../location', userData.location?.id ]" >{{userData.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-data', userData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-data/'+ userData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-data/'+ userData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
