<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-12 mt-5">
            <ul class="list-inline">
                <li><a class="btn-social btn-rounded" href="https://twitter.com/myGuardian" target="_blank"><i
                    class="fa fa-fw fa-twitter"></i></a></li>
                <li><a class="btn-social btn-rounded" href="#"
                       target="_blank"><i class="fa fa-fw fa-facebook-official"></i></a></li>
                <li><a class="btn-social btn-rounded" href="#"
                       target="_blank"><i class="fa fa-fw fa-comments"></i></a></li>
            </ul>
                <div > <p>myGuardian © 2017 Rights Reserved</p></div>
            </div>

        </div>

    </div>
</div>
