<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAdvertLabel">Create or edit a Advert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!advert.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="advert.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="advert.status"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobScope">Job Scope</label>
            <input type="text" class="form-control" name="jobScope" id="field_jobScope"
                [(ngModel)]="advert.jobScope"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobStartDate">Job Start Date</label>
            <div class="d-flex">
                <input id="field_jobStartDate" type="datetime-local" class="form-control" name="jobStartDate" [(ngModel)]="advert.jobStartDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobEndDate">Job End Date</label>
            <div class="d-flex">
                <input id="field_jobEndDate" type="datetime-local" class="form-control" name="jobEndDate" [(ngModel)]="advert.jobEndDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_expiry">Expiry</label>
            <div class="d-flex">
                <input id="field_expiry" type="datetime-local" class="form-control" name="expiry" [(ngModel)]="advert.expiry"
                  />
            </div>
        </div>

        <div class="form-group">
            <label for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="advert.type">
                <option [ngValue]="null"></option>
                <option [ngValue]="careTypeOption.id === advert.type ? advert.type : careTypeOption" *ngFor="let careTypeOption of types; trackBy: trackCareTypeById">{{careTypeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="advert.creator" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userDataOption.id === advert.creator?.id ? advert.creator : userDataOption" *ngFor="let userDataOption of userdata; trackBy: trackUserDataById">{{userDataOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
