
<div *ngIf="advert">
    <h2><span>Advert</span> {{advert.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{advert.status}}</span>
        </dd>
        <dt><span>Job Scope</span></dt>
        <dd>
            <span>{{advert.jobScope}}</span>
        </dd>
        <dt><span>Job Start Date</span></dt>
        <dd>
            <span>{{advert.jobStartDate | date:'medium'}}</span>
        </dd>
        <dt><span>Job End Date</span></dt>
        <dd>
            <span>{{advert.jobEndDate | date:'medium'}}</span>
        </dd>
        <dt><span>Expiry</span></dt>
        <dd>
            <span>{{advert.expiry | date:'medium'}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <div *ngIf="advert.type">
                <a [routerLink]="['/care-type', advert.type]">{{advert.type}}</a>
            </div>
        </dd>
        <dt><span>Creator</span></dt>
        <dd>
            <div *ngIf="advert.creator">
                <a [routerLink]="['/user-data', advert.creator?.id]">{{advert.creator?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'advert/'+ advert.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
