<div>
    <h2>
        <span>Adverts</span>
        <button class="btn btn-primary float-right create-advert" [routerLink]="['/', { outlets: { popup: ['advert-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Advert
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adverts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobScope"><span>Job Scope</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobStartDate"><span>Job Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobEndDate"><span>Job End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expiry"><span>Expiry</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creator.id"><span>Creator</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let advert of adverts ;trackBy: trackId">
                <td><a [routerLink]="['../advert', advert.id ]">{{advert.id}}</a></td>
                <td>{{advert.status}}</td>
                <td>{{advert.jobScope}}</td>
                <td>{{advert.jobStartDate | date:'medium'}}</td>
                <td>{{advert.jobEndDate | date:'medium'}}</td>
                <td>{{advert.expiry | date:'medium'}}</td>
                <td>
                    <div *ngIf="advert.type">
                        <a [routerLink]="['../care-type', advert.type ]" >{{advert.type}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="advert.creator">
                        <a [routerLink]="['../user-data', advert.creator?.id ]" >{{advert.creator?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../advert', advert.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'advert/'+ advert.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'advert/'+ advert.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
