<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to My Guardian</h1>
        <p class="lead"> Need a baby sitter or a tutor for your child</p>
        <p class="lead">My Guardian is malaysia's leading platform to provide trusted and reliable child care services. We have created system that allow you to hire the most attentive sitter to watch over you little one while you go out dating</p>

        <!--div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div-->


        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <!--img class="card-img-top" src="" alt="Card image cap"-->
                    <div class="card-body">
                        <h4 class="card-title">Easy online booking</h4>
                        <ul>
                            <li class="card-text">Book childcare online</li>
                            <li class="card-text">We'll do all the work</li>
                            <li class="card-text">Competitive rates</li>
                        </ul>
                        <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <!--img class="card-img-top" src="" alt="Card image cap"-->
                    <div class="card-body">
                        <h4 class="card-title">Guardian background check</h4>
                        <ul>
                            <li class="card-text">we review all our guardians </li>
                            <li class="card-text">Rate guardians sent to your service</li>
                        </ul>
                        <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>
        </div>
        <p> </p>
        <p class="lead"> How to get started</p>
    </div>
</div>
